venv/**

# temporary files
**/*.pyc
**/__pycache__/**
**/.vscode/**
**/.git/**
**/settings/__init__.py
nginx/*.log

# utilities
.coverage

# IDE folders
.idea/
.vscode/

# secrets
secret

# cdn folders
static_cdn/

# test db
test_db.sqlite3