{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% load static %}
{% block content %}

{% if cart.cart_items.exists %}
    <div class="cart-container canvas-cart-table">
        <table class="table cart-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Available" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Price" %}</th>
                </tr>
            </thead>
            <tbody class="cart-body">
                {% for cart_item in cart.cart_items.all %}
                <tr class="cart-product">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.title }}</a>
                        {% include 'carts/remove-product.html' with product_id=cart_item.product.id %}
                    </td>
                    <td>
                        {{ cart_item.product.quantity }}&nbsp;
                    </td>
                    <td>
                        <div class="input-group text-center">
                            <button class="input-group-text decrement-btn" data-method="POST" data-endpoint="{% url 'cart:update' %}" data-product-id="{{ cart_item.product.id }}">-</button>
                            <input type="text" name="quantity" class="form-control current-quantity text-center" data-product-id="{{ cart_item.product.id }}" value="{{ cart_item.quantity }}" min="1">
                            <button class="input-group-text increment-btn" data-method="POST" data-endpoint="{% url 'cart:update' %}" data-product-id="{{ cart_item.product.id }}">+</button>
                        </div>
                    </td>
                    <td>{{ cart_item.product.price|multiply:cart_item.quantity | floatformat:2 }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"></td>
                    <td>
                        <div class="row">
                            <div class="col">
                                {% trans "Subtotal" %}:
                            </div>
                            <div class="col">
                                $<span class="cart-subtotal">{{ cart.subtotal | floatformat:2 }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td>
                        <div class="row">
                            <div class="col">
                                {% trans "Total" %}:
                            </div>
                            <div class="col">
                                $<span class="cart-total">{{ cart.total | floatformat:2 }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><a class="btn btn-general" href="{% url 'cart:checkout' %}">{% trans "Checkout" %}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cart-item-remove-form" style="display: none">
        {% include 'carts/remove-product.html' %}
    </div>
{% else %}
    <div class="cart-container">
        <a href='{% url "home" %}'>
            <img class="cart-empty-img" src="{% static 'img/empty_cart.png' %}" alt="Empty Cart">
        </a>
    </div>
{% endif %}

{% endblock %}
