{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'accounts:account-home' as account_url %}
{% url 'accounts:user-product-history' as history %}
{% url 'cart:home' as cart_url %}
{% url 'collection' as collection %}
{% url 'admin:index' as admin %}
{% url 'sales-analytics' as analyze %}
{% url 'billing-payment-method' as billing_payment %}
{% load i18n %}
{% load static %}

<nav class="row navbar navbar-expand-lg px-4">
  <div class="container">
    <a class="navbar-brand" href="{{ home_url }}">
      {% if brand_name %}
        {{ brand_name }}
      {% else %}
        {% trans "TeaShop" %}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
      <ul class="navbar-nav col-md-10">
        <li class="nav-item {% if request.path == home_url %}active{% endif %}">
          <a class="nav-link" href="{{ home_url }}">{% trans "Home" %}</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
            <a class="nav-link" href="{{ cart_url }}">
              <div class="navbar-cart-btn">
                <span class="navbar-cart-text">{% trans "Cart" %}</span>
                <span class="navbar-cart-count">{{ request.session.cart_items }}</span>
              </div>
            </a>
          </li>
          <li class="nav-item {% if request.path == account_url %}active{% endif %}">
            <a class="nav-link" href="{{ account_url }}">{% trans "Account" %}</a>
          </li>
          {% if user.admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ admin }}">{% trans "Admin" %}</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ logout_url }}">{% trans "Logout" %}</a>
          </li>
        {% else %}
          <li class="nav-item {% if request.path == register_url %}active{% endif %}">
            <a class="nav-link" href="{{ register_url }}">{% trans "Register" %}</a>
          </li>
          <li class="nav-item {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link" href="{{ login_url }}">{% trans "Login" %}</a>
          </li>
        {% endif %}
      </ul>
      {% include 'search/search-form.html' %}
    </div>
  </div>
</nav>
