{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% url 'contact' as contact_url %}

<title>{% trans "Home page" %}</title>

{% block extra_head_tags %}
    <meta name="Description" content="TeaShop">
{% endblock %}

{% block content %}

    {% include 'main/onboarding.html' %}
    {% include 'main/categories.html' %}
    <br>
    {% include 'main/select_sort.html' %}
    <div class="row justify-content-center">
        {% for obj in object_list %}
            <div class="col-12 col-lg-6">
                {% include 'products/card.html' with instance=obj complet="1" in_cart=obj.in_cart %}
            </div>
        {% endfor %}
    </div>

    {% if user.staff %}
        <div class="row">
            <div class="col">
            <hr>
                <h1>{% trans "Premium Content" %}</h1>
                {{ premium_content }}
                {% if request.get_full_path != contact_url %}
                    <p class="text-center">
                        {% trans "Have any requests or questions?" %}
                    </p>
                    <p class="text-center">
                        <a href='{% url "contact" %}'>{% trans "Write me, please" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
