{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% url 'contact' as contact_url %}

{% block title %}{% if active_category %}{{ active_category.name }} - {% endif %}{{ STORE_NAME }}{% endblock %}

{% block extra_head_tags %}
    <meta name="description" content="{% if active_category %}{{ active_category.name }}. {% endif %}{{ STORE_TAGLINE }}">
{% endblock %}

{% block content %}

    {% if not active_category %}
        {% include 'main/onboarding.html' %}
    {% endif %}
    {% include 'main/categories.html' %}
    {% include 'main/select_sort.html' %}

    <div class="row product-grid">
        {% for obj in object_list %}
            <div class="col-6 col-md-4 col-lg-3">
                {% include 'products/card.html' with instance=obj in_cart=obj.in_cart %}
            </div>
        {% empty %}
            <div class="col-12 empty-state">
                <p>{% trans "Nothing here yet." %}</p>
            </div>
        {% endfor %}
    </div>

    {% if user.staff %}
        <div class="row">
            <div class="col">
            <hr>
                <h1>{% trans "Premium Content" %}</h1>
                {{ premium_content }}
                {% if request.get_full_path != contact_url %}
                    <p class="text-center">
                        {% trans "Have any requests or questions?" %}
                    </p>
                    <p class="text-center">
                        <a href='{% url "contact" %}'>{% trans "Write me, please" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
