.account-title {
    text-align: right;
    color: var(--soft-brown-color);
}

.card-home {
    width: 100%;
    overflow: hidden;
    border-radius: 5%;
}
.card-home-body {
    padding: 1.25em 1em 1em 1em;
    border-radius: 5%;
    position: relative;
}
.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}
.image-container.rotate img {
    transform: rotate(180deg);
}
.card-home-title {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    z-index: 1;
    position: relative;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 1em;
}
.list-group-item {
    font-size: large;
    text-align: center;
    transition: background-color var(--long-duration);
}
.list-group-item:hover {
    text-decoration: none;
    background-color: var(--soft-light-brown-color);
}
