.checkout-title h1 {
    text-align: center;
    margin: 1em 0 1em 0;
}

.checkout-title h2 {
    text-align: center;
    margin: 1em 0 1em 0;
}

.checkout-table h3 {
    text-align: center;
}

.checkout-total .bank-canvas-cell {
    text-align: center;
    padding: 1em 0.75em 1em 0.75em;
}

.bank-product-item.odd {
    color: var(--hard-brown-color);
}

.bank-product-item.even {
    color: var(--soft-brown-color);
}

.checkout-total h1 {
    color: var(--soft-brown-color);
}

/* canvas red */
.bank-canvas-cell {
    padding: 1.5em;
    border-radius: 15px;
    font-size: x-large;
    box-shadow: 0 2px 4px var(--grey-color);
}

.bank-canvas-cell-2 {
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    font-size: large;
    box-shadow: 0 2px 4px var(--grey-color);
}
.bank-canvas-cell-small {
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 2px var(--grey-color);
}
.bank-canvas-cell-small-2 {
    padding: 1em;
    border-left: 1px solid var(--soft-brown-color);
    border-right: 1px solid var(--soft-brown-color);
    border-radius: 15px;
    text-align: center;
}
.bank-canvas-cell-empty {
  padding: 2em 1em 0 1em;
  text-align: center;
}


.title-payment {
  color: var(--soft-brown-color);
}


.payments-form-api {
    background-color: var(--whitesmoke-color);
    border: 2px solid green;
    border-radius: 15px;
    padding: 20px 25px 5px 25px;
    width: 100%;
    -webkit-box-direction: normal;
}
.payments-form-api h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}
@media only screen and (max-width: 675px) {
    .payments-mobile{
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}
@media only screen and (min-width: 675px){
    .payments-desktop {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    }
}



#blue {
  color: rgb(0, 0, 255);
  transition: var(--long-duration) all;
}
#blue:hover {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
  margin-top: -2%;
  color: rgba(0, 0, 255, 0.5);
  transform: rotate(-15deg);
}
#red {
  color: rgb(255, 0, 0);
  transition: var(--long-duration) all;
}
#red:hover {
  color: rgba(255, 0, 0, 0.5);
  margin-top: -2%;
  transform: rotate(15deg);
}
#yellow {
  color: rgb(220, 255, 0);
  transition: var(--long-duration) all;
}
#yellow:hover {
  color: rgba(220, 255, 0, 0.5);
  margin-top: -2%;
  transform: rotate(180deg);
}
#green {
  color: rgb(0, 255, 0);
  transition: 0.1s all;
}
#green:hover {
  color: rgba(0, 255, 0, 0.5);
  margin-top: 1.5%;
  transform: rotate(10deg);
}
#blink:hover {
  -webkit-animation: blink 0.5s 0.7s ease infinite;
  -moz-animation: blink 0.5s 0.7s ease infinite;
  -o-animation: blink 0.5s 0.7s ease infinite;
  animation: blink 0.5s 0.7s ease infinite;
}
