html {
    overflow-x: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

:root {
  --soft-brown-color: rgb(153, 125, 100);
  --soft-light-brown-color: rgb(179, 156, 137);
  --brown-color: rgb(131, 87, 63);
  --hard-brown-color: rgb(101, 67, 33);
  --transparent-color: rgba(255, 255, 255, 0);
  --grey-color: grey;
  --whitesmoke-color: whitesmoke;
  --white-color: white;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --red-color: red;
  --black-color: black;

  --duration: 0.3s;
  --long-duration: 0.5s;
}

body {
    background-color: white;
}
body img.main {
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
    width: 50%;
    margin: 5% 5% 5% 20%;
    border-radius: 30%;
    filter: blur(2px);
}
body img.log {
    position: fixed;
    z-index: -1;
    top:0;
    left:0;
}

h1 {
    text-align: center;
    padding-top: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* btn */
.btn-default {
    border: none;
    color: var(--black-color);
    background-color: var(--transparent-color);
    box-shadow: 0 4px 8px var(--grey-color) !important;
    transition: box-shadow var(--duration);
}
.btn-general {
    border: none;
    color: var(--black-color);
    background-color: var(--soft-light-brown-color);
    box-shadow: 0 4px 8px var(--grey-color) !important;
    transition: box-shadow var(--duration);
}
.btn-info {
    border-color: green;
    color: var(--black-color);
    background-color: lightgreen;
    transition: border-color 1.5s, background-color 0.5s;
}

/* btn hover */
.btn-default:hover {
    box-shadow: 0 2px 4px var(--grey-color) !important;
}
.btn-general:hover {
    box-shadow: 0 2px 4px var(--grey-color) !important;
}
.btn-info:hover {
    border-color: green;
    color: var(--black-color);
    background-color: lightgreen;
}

/* btn outline */
.btn-outline-default {
    border-color: var(--soft-brown-color);
    color: var(--black-color);
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-outline-warning {
    border-color: yellow;
    color: var(--black-color);
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-outline-success {
    border-color: lightgreen;
    color: var(--black-color);
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-outline-info {
    border-color: green;
    color: var(--black-color);
    transition: border-color 1.5s, background-color 0.5s;
}

/* btn outline hover */
.btn-outline-default:hover {
    border-color: var(--soft-brown-color);
    color: var(--black-color);
    background-color: var(--soft-brown-color);
}
.btn-outline-warning:hover {
    border-color: yellow;
    color: var(--black-color);
    background-color: yellowgreen;
}
.btn-outline-success:hover {
    border-color: lightgreen;
    color: var(--black-color);
    background-color: lightgreen;
}
.btn-outline-info:hover {
    border-color: green;
    color: var(--black-color);
    background-color: lightgreen;
}

.btn-outline-default:not(:disabled):not(.disabled):active {
    background-color: green;
    border-color: green;
}



.form-errors {
    color: var(--red-color);
}



/* canvas blue */
.base-canvas-cell {
    background-color: white;
    padding: 1.5em;
    border: 2px solid green;
    border-radius: 15px;
    font-size: x-large;
    min-width: 20em;
}
.base-canvas-cell-2 {
    background-color: #0000ff10;
    padding: 1em 2em 1em 2em;
    border: 1px solid #0000ff80;
    border-radius: 15px;
    font-size: large;
}
.base-canvas-cell-small {
    background-color: white;
    padding: 1em;
    border: 1px solid #0000ff80;
    border-radius: 15px;
    text-align: center;
}
.base-canvas-cell-small-2 {
    background-color: #0000ff50;
    padding: 1em;
    border-left: 1px solid #0000ff80;
    border-right: 1px solid #0000ff80;
    border-radius: 15px;
    text-align: center;
}
.base-canvas-cell-empty {
    padding: 2em 1em 0 1em;
    text-align: center;
}

div.about {
    min-height: 600px;
}



textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    appearance: none;
    box-shadow: none !important;
}
