.onboarding {
    height: 300px;
}

.onboarding-cover {
    position: relative;
    transform: translateY(20%);
}

.onboarding-img {
    transform:  translate(-60%, -40%) rotate(-45deg);
    border-radius: 30px;
    width: 200%;
    opacity: 0.5;
}

.onboarding-text {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.onboarding-text .line-1 {
    margin-top: 10%;
}

.onboarding-text .line-2 {
    margin-top: 10%;
}

@media only screen and (max-width: 1200px) {
    .onboarding {
        height: 200px;
    }
    .onboarding-text h3 {
        font-size: 20px;
    }
    .onboarding-text .line-1 {
        margin-top: 7%;
    }
    .onboarding-text .line-2 {
        margin-top: 7%;
    }
}

@media only screen and (max-width: 991px) {
    .onboarding {
        height: 150px;
    }
    .onboarding-text h3 {
        font-size: 17px;
    }
    .onboarding-text .line-1 {
        margin-top: 7%;
    }
    .onboarding-text .line-2 {
        margin-top: 7%;
    }
}

@media only screen and (max-width: 768px) {
    .onboarding {
        height: 100px;
    }
    .onboarding-text h3 {
        font-size: 15px;
    }
    .onboarding-text .line-1 {
        margin-top: 7%;
    }
    .onboarding-text .line-2 {
        margin-top: 3%;
    }
}

.left-field {
    background: linear-gradient(270deg, #ffffff00 50%, var(--whitesmoke-color) 100%);
    top:0.5vh;
    background-color: rgba(0, 0, 0, 0);
    min-height: 90vh;
    max-width: 8em;
    transition: background-color 1s;
    text-align:center;
}

.left-field i {
    margin-top: 45vh;
    color: var(--whitesmoke-color);
    position: relative;
    transition: color 1s;
}

.left-field:hover i {
    color: #ffffff;
}

.left-field:hover {
    background-color: var(--whitesmoke-color);
}

.filters {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.main-filter-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--hard-brown-color);
}

.main-filter-btn {
    color: var(--soft-brown-color);
}

.main-filter-btn:hover {
    color: var(--hard-brown-color);
}