.navbar {
    border-style: none;
    border-bottom-style: groove;
    background: radial-gradient(circle, var(--whitesmoke-color) 50%, var(--transparent-color) 100%);
    min-width: 300px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav-item .nav-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: normal;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    color: var(--soft-brown-color);
    transition: color var(--duration) ease;
}
.navbar .nav-item .nav-link:hover {
    color: var(--hard-brown-color);
}
.navbar .nav-item.active .nav-link {
    color: var(--hard-brown-color);
}
.navbar-toggler {
    background-color: var(--grey-color);
}

.navbar-cart-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
.navbar-cart-text {
  margin-right: 7px;
}
.navbar-cart-count {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: var(--soft-brown-color);
  border-radius: 50%;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
  transition: background-color var(--duration) ease;
}
.navbar .nav-item .nav-link:hover .navbar-cart-count {
  background-color: var(--hard-brown-color);
}
.navbar .nav-item.active .nav-link .navbar-cart-count {
  background-color: var(--hard-brown-color);
}

.navbar-search-form {
    float: right;
}
.navbar-search-form .form-control {
    border: none;
    background: var(--white-color) !important;
    box-shadow: 0 2px 2px var(--shadow-color);
    max-width: 20vw;
    background: var(--transparent-color);
    border-radius: 10px !important;
}
.navbar-search-form button {
    border: none;
    transition: all var(--long-duration);
}
.navbar-search-form button:hover {
    color: green;
    background: var(--transparent-color);
}
