.card {
    margin: auto;
    border: none;
    border-radius: 5%;
    transition: all var(--long-duration);
}
.card:hover {
    -webkit-box-shadow: 0px 0px 15px 15px var(--whitesmoke-color);
    -moz-box-shadow: 0px 0px 15px 15px var(--whitesmoke-color);
    box-shadow: 0px 0px 15px 15px var(--whitesmoke-color);
}
.card-img-top {
    max-height: 80vh;
    object-fit: cover;
}
.card-body {
    padding: 1.25em 1em 1em 1em;
}
.card-text h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-price {
    padding-top: 1em;
    padding-bottom: 1em;
    white-space: nowrap;
}
@media only screen and (max-width:1400px) {
    .card-button {
        /* padding: 5em 5em 5em 5em; */
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}
@media only screen and (min-width:1400px) {
    .card-button {
        /* padding: 1em 0 1em 1em; */
        -webkit-box-orient: horizontal;
        flex-direction: row;
    }
}



/* canvas yellow */
.product-canvas-cell {
    background-color: var(--white-color);
    padding: 1.5em;
    border-radius: 15px;
    font-size: x-large;
    box-shadow: 0 1px 2px var(--grey-color);
}
.product-canvas-cell-2 {
    background-color: var(--whitesmoke-color);
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    font-size: large;
    box-shadow: 0 1px 2px var(--grey-color);
}
.product-canvas-cell-small {
    background-color: var(--white-color);
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 2px var(--grey-color);
}
.product-canvas-cell-small-2 {
    background-color: var(--whitesmoke-color);
    padding: 1em;
    border-left: 1px solid var(--soft-brown-color);
    border-right: 1px solid var(--soft-brown-color);
    border-radius: 15px;
    text-align: center;
}
.product-canvas-cell-empty {
    padding: 2em 1em 0 1em;
    text-align: center;
}
