{% load i18n %}
<form method="GET" action="{% url 'search:query' %}" class="form-inline navbar-search-form my-2 my-lg-0">
    <div class="input-group">
        <input class="form-control" type="search" name="q" aria-label="{% trans 'Search' %}" placeholder="{% trans 'Search products' %}" value="{{ request.GET.q }}">
        <div class="input-group-append">
            <button class="btn search-btn" type="submit" aria-label="{% trans 'Search' %}"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>
