{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='row'>
    <div class='col col-lg-10 mx-auto col-md-8'>
        <div class="bank-canvas-cell-2">
            {% if form.instance.address_line_1  %}
                <h3 class='my-5'>{% trans "Update Address" %}</h3>
            {% else %}
                <h3 class='my-5'>{% trans "Create Address" %}</h3>
            {% endif %}
            <hr>
            <form method="POST" action="">{% csrf_token %}
                <div class="row bank-canvas-cell-empty">
                    <div class="col-lg-2 col-md-4">
                        <label for="{{ form.nickname.id_for_label }}">{% trans "Nickname" %} (Email):</label>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        {{ form.nickname }}<br>
                        <span class="helptext">({% trans "Internal Reference" %})</span>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <label for="{{ form.name.id_for_label }}">{% trans "Name" %}:</label>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        {{ form.name }}<br>
                        <span class="helptext">{% trans "Shipping to? Who is it for" %}?</span>
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.nickname.errors }}
                    </div>
                    <div class="col">
                        {{ form.name.errors }}
                    </div>
                </div>
                <div class="row bank-canvas-cell-empty">
                    <div class="col-lg-2 col-md-4">
                        <label for="{{ form.address_line_1.id_for_label }}">{% trans "Address" %} 1:</label>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        {{ form.address_line_1 }}
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <label for="{{ form.address_line_2.id_for_label }}">{% trans "Address" %} 2:</label>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        {{ form.address_line_2 }}
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.address_line_1.errors }}
                    </div>
                    <div class="col">
                        {{ form.address_line_2.errors }}
                    </div>
                </div>
                <div class="row bank-canvas-cell-empty">
                    <div class="col-lg-2 col-md-4">
                        <label for="{{ form.city.id_for_label }}">{% trans "City" %}:</label>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <select name="city">
                            {% for value, label in form.city.field.choices %}
                                {% if value %}
                                    {% if value == form.city.value %}
                                        <option value="{{ value }}" selected>{{ label }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.city.errors }}
                    </div>
                </div>
                <hr>
                <div class="row bank-canvas-cell-empty">
                    <div class="col form-errors">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-default">{% trans "Save Address" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
