{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="row done">
    <div class="col-4">
        <div class="done-cover">
            <img class="done-img" src="{% static 'img/tea_health.png' %}">
        </div>
    </div>
    <div class="col-md-2 d-none d-md-block"></div>
    <div class="col-12 col-sm-8 col-md-6 done-text">
        <h3 class="line-1">{% trans "Thank, you for your order" %} !</h3>
        <h3 class="line-2">
            {% trans "Your" %} {% if orderID|length == 17 %} PayPal {% else %} Stripe {% endif %} {% trans "order ID" %}:
            <div id="order-id" class="mt-4"><i class="fa fa-copy copy-icon"></i> {{ orderID }}</div>
            <br>
            {% if time %}
                <p>{% trans "Delivery time is" %} {{ time }}</p>
                <p>{% trans "With the inscription on the packaging" %}: "{{ orderDescription }}"</p>
            {% endif %}
        </h3>
    </div>
</div>

{% endblock %}
