{% load i18n %}
{% load static %}

<div class="row checkout checkout-title">
    <div class="col">
        <h1>{% trans "Finalize Checkout" %}</h1>
    </div>
</div>

<div class="row checkout checkout-table">
    <div class="col-12 col-md-6">
        <div class="bank-canvas-cell">
            <h3>{% trans "Cart Items" %}:</h3>
            <hr>
            {% for cart_item in object.cart.cart_items.all %}
                {% if forloop.counter|divisibleby:2 %}<p class="bank-product-item odd">{% else %}<p class="bank-product-item even">{% endif %}{{ forloop.counter }}) {{ cart_item.product }}</p>
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col">
                    <h4>{% trans "Order number: " %}</h4>
                </div>
                <div class="col">
                    <i class="fa fa-copy copy-icon"></i>
                    <span id="order-id">{{ object.order_id }}</span>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-12 col-md-6">
        <div class="bank-canvas-cell">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <h4>{% trans "Address" %}:</h4>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p>{{ object.address_final }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <h4>{% trans "Description" %}:</h4>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <form method="POST" id="form_checkout">
                        {% csrf_token %}
                        <div class="row ml-1">
                            <label for="{{ form.msg.id_for_label }}"></label>
                            <textarea name="msg" rows="1" required="" id="id_msg" placeholder="{% trans 'Recipient\'s name' %}"></textarea>
                            &nbsp;
                            <button type="submit" class="btn btn-outline-default">{% trans "Submit" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row checkout checkout-total">
    <div class="col">
        <div class="bank-canvas-cell">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>{% trans "Cart Total" %}</h4>
                    <hr>
                    <h1>{{ object.cart.total | floatformat:2 }}</h1>
                    <br>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>{% trans "Shipping Total" %}</h4>
                    <hr>
                    <h1>{{ object.shipping_total | floatformat:2 }}</h1>
                    <br>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>{% trans "Order Total" %}</h4>
                    <hr>
                    <h1 id="order-total">{{ object.total | floatformat:2 }}</h1>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row checkout checkout-title">
    <div class="col">
        <h1>{% trans "Add a payment method" %}</h1>
    </div>
</div>
<div class="row payments-form-api payments-desktop payments-mobile">
<!--    TODO: PayPal-->
<!--    <div id="paypal-block" class="col">-->
<!--        <h2 style="color:blue;">{% trans "PayPal" %}</h2>-->
<!--        <div id="paypal-button-container"></div>-->
<!--    </div>-->
    <div class="col">
        <h2>{% trans "Bank card binding" %}</h2>
        <div class="stripe-payment-form" data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title="Add Payment Method"></div>
    </div>
</div>
