{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8FW20RNRZ9"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-8FW20RNRZ9');
        </script>

        <meta name="yandex-verification" content="8e0b190a885bfae1" />

        <meta charset="utf-8">
        {% block extra_head_tags %}
            <meta name="description" content="{{ STORE_TAGLINE }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/icon.png'%}" type="image/png">
        <title>{% block title %}{{ STORE_NAME }}{% endblock %}</title>
        {% include 'base/css.html' %}
    </head>
    <body>
        {% include 'base/navbar.html' %}

        <main class="site-main">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-success{% endif %} messages" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </main>

        {% include 'base/footer.html' with dev_source="https://github.com/nikit34" %}

        {% include 'base/js.html' %}

        {% block javascript %}

        {% endblock %}
    </body>
</html>
