{% load i18n %}

<div class="row filters">
    <div class="col-6">

    </div>
    <div class="col">
        <form action="{% url 'home' %}" method="GET">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <span class="main-filter-label">{% trans "Price" %}</span>
                        <button type="submit" name="price" value="descend" class="btn main-filter-btn">{% trans "descending" %}</button>
                        <button type="submit" name="price" value="ascend" class="btn main-filter-btn">{% trans "ascending" %}</button>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <span class="main-filter-label">{% trans "Time" %}</span>
                        <button type="submit" name="time_update" value="descend" class="btn main-filter-btn">{% trans "update early" %}</button>
                        <button type="submit" name="time_update" value="ascend" class="btn main-filter-btn">{% trans "update last" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
