.navbar {
    margin-right:10px;
    border-style: none;
    border-bottom-style: groove;
    background: radial-gradient(circle, whitesmoke 50%, rgba(255, 255, 255, 0) 100%);
    min-width: 300px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav-item .nav-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: normal;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    color: #997d64;
    transition: color 0.3s ease;
}
.navbar .nav-item .nav-link:hover {
    color: #654321;
}
.navbar .nav-item.active .nav-link {
    color: #654321;
}
.navbar .nav-item .dropdown-item {
    margin-bottom: 0.2em;
    border-radius: 10px;
    transition: background-color 0.25s ease-out;
}
.navbar .nav-item .dropdown-item.active {
    color: green;
    background-color: #0000001f;
}
.navbar .nav-item .dropdown-item:hover {
    background-color: lightgreen;
}
.navbar .nav-item {
    margin-right: 0.2em;
}
.navbar-toggler {
    background-color: gray;
}
.navbar-cart-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

.navbar-cart-text {
  margin-right: 7px;
}

.navbar-item-count {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #ccc;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
}