{% load i18n %}

<div class="card">
    {% if instance.image %}
        <a href="{{ instance.get_absolute_url }}">
            <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
        </a>
    {% else %}
        <p class="text-center mt-2 mb-2">{% trans "Image not found :(" %}</p>
    {% endif %}
    <div class="row card-body">
        <div class="col-3 col-sm-5 col-md-7 col-lg-4 col-xl-5 card-text">
            <h5>{{ instance.title }}</h5>
            {% if complet == "1" %}
                <div class="preview">
                    <p>{{ instance.description|safe|linebreaks|truncatewords:18 }}</p>
                </div>
            {% endif %}
        </div>
        <div class="col-9 col-sm-7 col-md-5 col-lg-8 col-xl-7 card-button">
            {% if complet == "1" %}
                <div class="row justify-content-end">
                    <div class="col-4 mb-2 text-right">
                        <a href="{{ instance.get_absolute_url }}" class="btn btn-default">{% trans "View" %}</a>
                    </div>
                    <div class="col-8 text-right">
                        {% include 'products/update-cart.html' with product=instance in_cart=in_cart %}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col text-right">
                        <a href="{{ instance.get_absolute_url }}" class="btn btn-default">{% trans "View" %}</a>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col pl-0 card-price text-right">
                    {% if instance.grammage %}
                        <h2>{{ instance.price }} &#36; / {{ instance.grammage }}</h2>
                    {% else %}
                        <h2>{{ instance.price }} &#36;</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
