{% load i18n %}
<form class="form " method="POST" action="{% url 'cart:update' %}" data-endpoint="{% url 'cart:update' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}" {% if product.delivery %} data-is-delivery='true'{% endif %} />

    <span class="submit-span">
        {% if product in cart.products.all %}
            <div class='btn-group'>
                <a class='btn btn-success' href='/cart/'>{% trans "In cart" %}</a>
                <button type="button" class="btn btn-outline-danger remove-btn">{% trans "Remove" %}?</button>
            </div>
        {% else %}
            <button type="button" class="btn btn-success add-to-cart-btn">{% trans "Add to cart" %}</button>
        {% endif %}
    </span>
</form>
